@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0C134F] font-sans text-white;
}
.home_img {
  filter: drop-shadow(0 0 2rem #fff);
}
.home_img {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}