* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 96);
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}
.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.btn {
  outline: none;
  border: 0.1em solid #ccc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color .10s ease-in;
}
.btn:hover {
  background-color: rgb(28, 28, 147);
}
.btn:active {
  background-color: rgb(95, 95, 199);
}
